.centerBox {
    display: 'flex';
    justify-content: 'center';
}

.imageCard {
    width: '350px';
    height: 'auto';
    margin: 'auto';
}

.priceBox {
    margin-top: '0.5rem';
    margin-bottom: '0.5rem';
    height: 'auto';
    overflow-y: 'auto';
}

.priceCard {

}